<html>
	<head>
		<title>DBF CSV Converter</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	</head>
	<body>
		<div>
			<h1>DBF Convert to CSV, or CSV Convert to DBF</h1>
			<p>We won't store any data or file you will convert.</p>
			<p>DBFをCSVに、CSVをDBFに変換します。ウェブ上にデータは一切保存されません（あくまで自己責任の範囲でご利用ください）。</p>
		</div>
			<form action="/convert" method="post" enctype="multipart/form-data">
				<input type='file' name='datafile' accept='.csv,.dbf'>
				<input type='submit' id='submit_btn' value='Convert'>
			</form>
	</body>
	<footer>
		<p>Twitter:<a href="https://twitter.com/kigchi999">@kigchi999</a></p>
		<p>Website:<a href="https://www.labo288.site/">Labo288</a></p>
	</footer>
</html>